<div class="h-full flex bg-gray-50" data-controller="dashboard">
  <!-- Sidebar -->
  <div class="w-80 bg-white border-r border-gray-200 flex flex-col">
    <%= render 'sidebar_header' %>
    <%= render 'provider_status' %>
    <%= render 'chat_navigation' %>
    <%= render 'sidebar_footer' %>
  </div>

  <!-- Main Chat Area -->
  <div class="flex-1 flex flex-col">
    <%= render 'chat_header' %>
    <%= render 'messages_area' %>
    <%= render 'message_input' %>
  </div>
</div>

<!-- Modals -->
<%= render 'delete_chat_modal' %>
<%= render 'settings_modal' %>
